*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

*{
    border: 1px solid red;
}

.center-body {
    flex: 2;
    flex-basis: 80%;
    height: 1000px;
}

.first-fifth {
    margin: 0px 75px 0px 75px;
    /* padding: ; */
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    margin-right: auto;
    font-size: 24px;
    /* font-weight: ; */
    color: #F9FAF8;
}

.header-link {
    text-decoration: none;
    color: #F9FAF8;
    font-size: 14px;
    font-weight: 100;
}

.first-mass-container {
    display: flex;
}

.left-text-box-first {
    flex-basis: 50%;
    align-items: center;
}

.awesome-title {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.signup-button {
    color: #E5E7EB;
    background-color: #3882F6;
    padding: 4px;
    border-radius: 6px;
}

.image-box-first {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
}

.image-first {
    width: 100px;
    aspect-ratio: 1:1;
}