*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

*{
    border: 1px solid red;
}

body {
    display: flex;
    flex-direction: column;
}

.first-fifth {

}

.header {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    margin-right: auto;
}